header {
  background: transparent;
}

footer {
    background: transparent;
}

.loginDiv {
    width: 90%;
    background-image: url("/images/homepage/homepage_background.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    display: flex;
    justify-content: center;
}

.loginForm {
    height: fit-content;
    width: 280px;
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

@media (min-width: 400px){
    .loginForm {
      margin-top: 50px;  
      width: 350px;
    }
  }

@media (min-width: 639px){
    .loginForm {
        width: 450px;
    }
  }

.loginTableCol1 {
    padding: 8px 10px 8px 0;
    width: 50px;
}

.loginTableCol2 {
    padding: 8px 10px 8px 0;
    width: 100%;
}

input[type="text"], input[type="password"] {
    padding: 2px 5px;
    width: 100%;
}

input[type="submit"], input[type="button"] {
    margin-right: 5px;
    padding: 2px 5px;
}
